# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build folders
frontend/dist/
backend/dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db